#webui-photopea-iframe {
	height: 73vh;
	width: calc(100vw + 290px)
}
#ph_overlay {
	display: block;
	width: calc(100vw - 610px);
	height: 30px;
	background-color: #474747;
	position: absolute;
	left: 610px;
	top: 18px;
	z-index: 999;
}
#ph_hidead {
	display: block;
	width: 301px;
	height: 73vh;
	background-color: #474747;
	position: absolute;
	left: calc(100vw - 30px);
	top: 18px;
	z-index: 999;
}